<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MSRpharmacy</title>
    <link rel="shortcut icon" type="image/jpg" href="images/logo-green-cross-pharmacy-vector-6235717.jpg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-light ">
        <div class="container-fluid">
           <img src="images/logo-green-cross-pharmacy-vector-6235717.jpg" width="60" height="60"></img>
            <a class="navbar-brand text-dark"  asp-area="" asp-page="/Index">MSR pharmacy</a>
         
         
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">LOGIN</span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <div class="menu">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-success" asp-area="" asp-page="/Index">Our store</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-success" asp-area="" asp-page="/Privacy">Birth control pills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-success" asp-area="" asp-page="/Privacy">Pets meds</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-success" asp-area="" asp-page="/Privacy">Kids</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-success" asp-area="" asp-page="/Privacy">Adults</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-success" asp-area="" asp-page="/Privacy">Sign in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-success" asp-area="" asp-page="/Privacy">Contact us</a>
                        </li>
                    </ul>
                    </div>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - MSRpharmacy - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>